@import url(https://fonts.googleapis.com/css?family=Bai+Jamjuree:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

/* * {
  border: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  --strongCyan: hsl(171, 66%, 44%);
  --lightBlue: hsl(233, 100%, 69%);
  --darkGrayishBlue: hsl(210, 10%, 33%);
  --grayishBlue: hsl(201, 11%, 66%);
}

body {
  /* Weights: 400, 600 */
  font-family: "Bai Jamjuree";
  font-size: 18px;
  /* padding: 0 30px; */
  text-align: center;
}

main {
  padding: 0 30px;
}

.history {
  margin-bottom: 170px;
}

.containerSection1 {
  background-image: url(images/bg-header-mobile.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  padding-top: 150px;
  height: 350px;
  /* margin-bottom: 70px; */
}

.containerSection2 {
  margin-bottom: 50px;
}

.containerSection2 > h1 {
  font-size: 2rem;
  font-weight: 600;
}

.containerSection2 > span {
  color: var(--grayishBlue);
  font-size: 0.93rem;
}

.containerButton {
  display: flex;
  flex-direction: column;
}

.foriOS {
  width: 100%;
  margin-bottom: 25px;
  height: 56px;
  /* padding: 15px; */
  border-radius: 30px;
  background-color: var(--strongCyan);
  color: white;
  outline: none;
  border: none;
}

.foriOS:hover {
  box-shadow: 2px 5px 10px var(--strongCyan);
  cursor: pointer;
}

.forMac {
  width: 100%;
  /* padding: 15px; */
  height: 56px;
  border-radius: 30px;
  background-color: var(--lightBlue);
  color: white;
  outline: none;
  border: none;
}

.forMac:hover {
  box-shadow: 2px 5px 10px var(--lightBlue);
  cursor: pointer;
}

.keepTrack,
.accessClipboard {
  margin-bottom: 70px;
}

.keepTrack > h2,
.accessClipboard > h2,
.supercharge > h2 {
  color: var(--darkGrayishBlue);
  font-weight: 600;
  font-size: 1.5rem;
}

.keepTrack > span,
.accessClipboard > span,
.supercharge > span {
  color: var(--grayishBlue);
  font-size: 0.9rem;
}

.sectionsThree {
  margin-bottom: 200px;
}

.containerImg {
  background-image: url("images/image-computer.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  background-position: center;
  height: 220px;
  margin-bottom: 63px;
}

.container3sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section1 {
  margin-bottom: 60px;
}

.section1 > h3 {
  color: var(--darkGrayishBlue);
  font-size: 1.3rem;
}

.section1 > span {
  color: var(--grayishBlue);
  font-size: 0.96rem;
}

.section2 {
  margin-bottom: 60px;
}

.section2 > h3 {
  color: var(--darkGrayishBlue);
  font-size: 1.3rem;
}

.section2 > span {
  color: var(--grayishBlue);
  font-size: 0.96rem;
}

.section3 > h3 {
  color: var(--darkGrayishBlue);
  font-size: 1.3rem;
}

.section3 > span {
  color: var(--grayishBlue);
  font-size: 0.96rem;
}

.accessClipboard {
  margin-bottom: 130px;
}

.containerImgDevices {
  margin-top: 68px;
  background-image: url("images/image-devices.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 180px;
}

.supercharge {
  margin-bottom: 92px;
}

.iconsAndText {
  margin-bottom: 135px;
  /* border: 1px solid teal; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container1,
.container3 {
  margin-bottom: 60px;
}

.container1 > h4,
.container2 > h4,
.container3 > h4 {
  font-size: 1.5rem;
  color: var(--darkGrayishBlue);
}

.container1 > span,
.container2 > span,
.container3 > span {
  font-size: 0.9rem;
  color: var(--grayishBlue);
}

.container2 {
  margin-bottom: 60px;
}

.containerLogos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 65px;
  margin-bottom: 175px;
}

.clipboardsIosMac {
  margin-bottom: 170px;
}

.containerSection2 {
  margin-bottom: 50px;
}

.containerSection2 > h2 {
  color: var(--darkGrayishBlue);
  font-weight: 600;
  font-size: 1.5rem;
}

.containerSection2 > span {
  color: var(--grayishBlue);
  font-size: 0.92rem;
}

footer {
  padding-top: 60px;
  /* min-height: 500px; */
  background-color: #f8f8f8;
}

.containerLogoFooter > img {
  width: 55px;
  margin-bottom: 50px;
}

.textFooter {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 55px;
}

.FAQs,
.privacy,
.guide {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.txtFooter:hover {
  color: var(--strongCyan);
}

.iconsRight {
  display: flex;
  flex-direction: row;
  width: 155px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.bi {
  color: var(--darkGrayishBlue);
  font-size: 1.7rem;
}

.bi:hover {
  color: rgb(29, 161, 242);
}

@media (min-width: 1200px) {
  .containerSection1 {
    background-image: url("images/bg-header-desktop.png");
    height: 290px;
  }

  .history {
    margin: 0 auto;
    width: 700px;
    margin-bottom: 160px;
  }

  .containerSection2 > h1 {
    font-size: 2.8rem;
  }

  .containerSection2 > span {
    font-size: 1.3rem;
  }

  .containerButton {
    flex-direction: row;
    gap: 15px;
    width: 470px;
    margin: 0 auto;
  }

  .keepTrack {
    width: 700px;
    margin: 0 auto 80px;
  }

  .keepTrack > h2 {
    font-size: 2.1rem;
  }

  .keepTrack > span {
    font-size: 1.1rem;
  }

  .sectionsThree {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 110px; */
  }

  .containerImg {
    width: 50%;
    background-size: contain;
    height: 600px;
    margin-left: -100px;
  }

  .container3sections {
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    /* height: 400px; */
  }

  .section1,
  .section2,
  .section3 {
    width: 340px;
  }

  .section1 > h3,
  .section2 > h3,
  .section3 > h3 {
    width: 191px;
    font-size: 1.4rem;
  }

  .section1 > span,
  .section2 > span,
  .section3 > span {
    width: 191px;
    font-size: 1rem;
  }

  .accessClipboard {
    /* border: 1px solid purple; */
    width: 682px;
    min-height: 470px;
    margin: 0 auto;
    margin-bottom: 140px;
  }

  .accessClipboard > h2 {
    font-size: 2.2rem;
  }

  .accessClipboard > span {
    font-size: 1.1rem;
  }

  .containerImgDevices {
    width: 830px;
    height: 470px;
    background-size: contain;
  }

  .supercharge h2 {
    font-size: 2.2rem;
  }

  .iconsAndText {
    display: flex;
    flex-direction: row;
    width: 1110px;
    margin: 0 auto;
    gap: 35px;
    margin-bottom: 190px;
  }

  .container1 {
    width: 335px;
  }

  .container1 > span {
    font-size: 0.88rem;
  }

  .container2 {
    width: 345px;
  }

  .container3 {
    width: 350px;
  }

  .container3 > span {
    font-size: 1rem;
  }

  .containerLogos {
    flex-direction: row;
  }

  .clipboardsIosMac {
    /* border: 1px solid tan; */
    width: 686px;
    margin: 0 auto;
    margin-bottom: 150px;
  }

  .containerSection2 > h2 {
    font-size: 2.1rem;
  }

  .containerSection2 > span {
    font-size: 1.1rem;
  }

  footer {
    height: 153px;
    display: flex;
    flex-direction: row;
  }

  .iconsLeft {
    width: 845px;
    display: flex;
    flex-direction: row;
    margin-left: 160px;
    gap: 130px;
  }

  .textFooter {
    flex-direction: row;
    width: 485px;
    text-align: start;
  }

  .iconsRight {
    align-items: start;
  }
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */
